<!--
    Interested in how this page is generated?
    See https://github.com/consoledotdev/home-latest
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Latest Console newsletter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Latest Console newsletter - the best tools for developers." />
    <link rel="stylesheet" href="https://console.dev/css/new.css" />
    <link rel="canonical" href="https://console.dev/latest/" />

    <meta property="og:site_name" content="Console" />
    <meta property="og:title" content="Console" />
    <meta property="og:description" content="Latest Console newsletter - the best tools for developers." />
    <meta property="og:image" itemprop="image" content="https://console.dev/img/console-mark-256.png" />
    <meta property="og:image:secure_url" itemprop="image" content="https://console.dev/img/console-mark-256.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://console.dev/latest/" />
    <meta name="twitter:site" content="@consoledotdev" />

    <meta name="robots" content="noindex,follow,noarchive">

    <!-- Plausible Analytics: https://plausible.io -->
    <script async defer data-domain="console.dev" src="https://stats.console.dev/js/index.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body>
    <header>
        <h1>
            <picture>
                <source srcset="https://console.dev/img/console-logo-dark.svg"><a href="https://console.dev"><img
                src="https://console.dev/img/console-logo-dark.svg" title="Console logo" height="50" alt="Console logo" /></a>
            </picture>
        </h1>
    </header>
    <main>
        <h3>Subscribe</h3>
        <p>Want to get the best tools for developers via email each week?</p>
        <form action="https://dev.us7.list-manage.com/subscribe/post?u=f8c3cd14ee8d63c53d0986a48&amp;id=267911a165"
              method="post"
              id="mc-embedded-subscribe-form-top"
              name="mc-embedded-subscribe-form-top"
              class="validate">

          <input type="email"
                 value=""
                 name="EMAIL"
                 id="mc-email" />
          <input type="hidden"
                 value="latest"
                 name="REFERRER"
                 id="mc-referrer" />
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text"
                 name="b_f8c3cd14ee8d63c53d0986a48_267911a165"
                 tabindex="-1"
                 value="" /><!-- Anti spam field -->
          </div>
          <input type="submit"
                 value="Subscribe"
                 name="subscribe"
                 id="mc-subscribe"
                 class="button" />
        </form>

        <!-- Plausible Analytics goal tracking for signups -->
        <script>
            var registerForm =
                document.querySelector("#mc-embedded-subscribe-form-top");
            registerForm.addEventListener('submit', function(e) {
                e.preventDefault();
                setTimeout(submitForm, 1000);
                var formSubmitted = false;

                function submitForm() {
                    if (!formSubmitted) {
                        formSubmitted = true;
                        registerForm.submit();
                    }
                }

                plausible('Newsletter Subscribe', {callback: submitForm});
            })
        </script>

        <h2>Latest Console newsletter</h2>
        <p>Hello! Each week we pick out the most interesting tools for
        developers. We keep track of everything - dev tools, devops, cloud, and
        APIs - so you don't have to.</p>

        <h2>Interesting tools</h2>

        {% for tool in tools %}
        <h3><a href="{{ tool['URL'] }}">{{ tool['Tool/Product/Project'] }}</a></h3>
        <p><em>{{ tool['What is it?'] }}</em></p>
        <p><strong>What we like</strong>: {{ tool['What we like'] }}</p>

        <p><strong>What we don't like</strong>: {{ tool['What we dislike'] }}</p>

        <hr />
        {% endfor %}

        <h2>New beta releases &amp; early access programs</h2>

        {% for beta in betas %}
        <h3><a href="{{ beta['URL'] }}">{{ beta['Tool/Product/Project'] }}</a>
        {% if beta['Company/Org'] not in beta['Tool/Product/Project'] %}
            from {{ beta['Company/Org'] }}
        {% endif %}
        </h3>
        <p><em>{{ beta['What is it?'] }}</em></p>
        <p>{{ beta['Category'] }}. {{ beta['Type'] }}. {{ beta['Access'] }}.</p>

        <hr />
        {% endfor %}

        <p>We are always on the lookout for interesting tools to feature. We
        only include things that would be of interest to experienced developers
        and do not accept payment for product inclusion. We do not track email
        opens, but do track clicks so we can refine our selection criteria.</p>

        <h3>Subscribe</h3>
        <p>Want to get the best tools for developers via email each week?</p>
        <form action="https://dev.us7.list-manage.com/subscribe/post?u=f8c3cd14ee8d63c53d0986a48&amp;id=267911a165"
              method="post"
              id="mc-embedded-subscribe-form-bottom"
              name="mc-embedded-subscribe-form-bottom"
              class="validate">

          <input type="email"
                 value=""
                 name="EMAIL"
                 id="mc-email" />
          <input type="hidden"
                 value="latest"
                 name="REFERRER"
                 id="mc-referrer" />
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text"
                 name="b_f8c3cd14ee8d63c53d0986a48_267911a165"
                 tabindex="-1"
                 value="" /><!-- Anti spam field -->
          </div>
          <input type="submit"
                 value="Subscribe"
                 name="subscribe"
                 id="mc-subscribe"
                 class="button" />
        </form>

        <!-- Plausible Analytics goal tracking for signups -->
        <script>
            var registerForm =
                document.querySelector("#mc-embedded-subscribe-form-bottom");
            registerForm.addEventListener('submit', function(e) {
                e.preventDefault();
                setTimeout(submitForm, 1000);
                var formSubmitted = false;

                function submitForm() {
                    if (!formSubmitted) {
                        formSubmitted = true;
                        registerForm.submit();
                    }
                }

                plausible('Newsletter Subscribe', {callback: submitForm});
            })
        </script>

    </main>
</body>
</html>
